 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 /*_____empieza html index_____*/
#container {
    background-color: #264653;
    display: grid;
    grid-template-columns: 2fr 2fr 0.7fr;
    grid-template-rows: -0.5fr 2fr 0.7fr;
    grid-template-areas:
    "header header header"
    "main main ads"
    "pie pie pie"
}
@media screen and (max-width: 480px) {
    header h1 {
        font-size: 12px;
     }
    main {
        grid-area: main;
        background-color: lightgray;
        display: block;
        flex-wrap: wrap;
    }  
    main h2 {
        color: black;
        font-size: 15px;
    }
    main h3 {
        color: black;
        font-size: 15px;
    }
    main h4 {
        color: black;
        font-size: 15px;
    }
    main h5 {
        color: black;
        font-size: 15px;
        display: flex;
        flex-wrap: wrap;
    }
}
header {
    grid-area: header;
    position: sticky;
    top: 0;
    background-color: #2a9d8f;
    margin-bottom: 10px;
}
nav, ul, li, a {
    list-style-type: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: lavender;
    display: inline-block;
    padding: 8px;
  }
nav ul li a:hover {
    background-color: #264653;
}
main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding-bottom: 8px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    color: lavenderblush;
}
main img {
    width: 20%;
    height: auto;
    float: left;
    border-radius: 10px;
    align-items: baseline;
    line-height: 2;
}
.anmt { 
    animation: animate 2s linear;
}
@keyframes animate {
    from {
        transform: translateX(0px)
    }
    to {
        transform: translateX(40px);
    }
}
h1, h2, h3, h4 {
    font-size: 20px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 8px;
    line-height: 3;
}
aside {
    grid-area: ads;
    background-color: #FFC857;
}
footer {
    grid-area: pie;
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: lavender;
    background-color:#2A9D8F;
    padding: 10px;
    line-height: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.border {
    border-style: solid;
    border-color: #264653;
    border-radius: 5px;
    padding: 10px;
}
#piealign {
    display: flex;
    flex-direction: column;
}
.font-color {
    color: black;
    font-size: 15px;
}
b {
    text-decoration: underline;
}
    /*_____termina html index_____*/

    /*_____empieza html novedades_____*/
    body {
    background-color: #264653;
}
.table-confg {
    background-color: whitesmoke;   
}
h1 {  
    font-size: 22px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}
#h-2 {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: lavenderblush; 
    text-align: center;
}
h3, h4, h5, h6 {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
}
.padconf {
    padding-bottom: 20px;
}
.eff1:hover {
    transition: all .8s ease-out;
    transform: scale(1.1);
}
#img-conf { 
    height: 430px;
}
#img-conf2 { 
    height: 420px;
}
#buttonconf {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none;
    background-color: lightskyblue;
    border: solid 2px lightskyblue;
}

    /*_____termina html novedades_____*/


 /*____empieza html - quiénes somos____*/
 #hh-3 {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    padding: 25px;
    padding-bottom: 10px;
}
 #clr2 {
    color: black;
 }
 /*____empieza html - quiénes somos____*/

#imgconf {
    width: 40%;
    height: auto; 
}

.imgconf2 {
    width: 40%;
    height: auto;
}


/*____empieza html - nuestra historia____*/

.gif {
    width: 30%;
    height: auto;
}
/*____termina html - nuestra historia____*/



/*_____empieza html - servicios_____*/

/*class-generales*/
.img1 {
    width: 225px;
    height: 150px;
}

.img2{
    width: 300px;
    height: 150px;
}

.img4 {
    width: 250px;
    height: 150px;
}

.button {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none;
    background-color: lightskyblue;
    border: solid 2px lightskyblue;
}


/*llamados específicos*/

article p {
font-size:  15px;
}
img {
    width: 125px; 
    height: 150px;
}

/*_____termina html - servicios_____*/