<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <title>Novedades</title>
 

</head>
<body class="paralleffect1" id="cont1">
    <header>        
        <section>
            <h1 id="volver">Novedades</h1>
                <nav>
                    <ul>
                        <li>
                        <a href="../index.html#Inicio">Inicio</a>
                        </li>
                        <li>
                        <a href="../views/quienessomos.html">Quiénes somos</a>
                        </li>
                        <li>
                        <a href="../views/nuestrahistoria.html">Nuestra historia</a>
                        </li>
                        <li>
                        <a href="../views/servicios.html">Servicios</a>
                    </li>
                </ul>
            </nav>
        </section>
    </header>
<main id="bgrd">      
    <h4 id="clr">Fechas exámenes internacionales Cambridge</h4>
        <table border="3px" cellpadding="4px" cellspacing="4px" class="tblstyle">
            <tr>
                <th>Examen</th>
                <th>Fechas</th>
                <th>Sede</th>
                <th>Costo</th>
            </tr>
            <tr>
                <td>A2 Key</td>
                <td>**********</td>
                <td>**********</td>
                <td>**********</td>
            </tr>
            <tr>
                <td>B1 Preliminary</td>
                <td>**********</td>
                <td>**********</td>
                <td>**********</td>
             </tr>
             <tr>
                <td>B2 First</td>
                <td>**********</td>
                <td>**********</td>
                <td>**********</td>
             </tr>
             <tr>
                <td>C1 Advanced</td>
                <td>**********</td>
                <td>**********</td>
                <td>**********</td>
              </tr>
              <tr>
                <td>C2 Proficiency</td>
                <td>**********</td>
                <td>**********</td>
                <td>**********</td>
              </tr>
        </table>
<div id="news">
    <div>
        <h5>Noticias 1</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit suscipit omnis ex praesentium nam doloremque amet dolorem ad itaque eligendi?</p>
    </div>
    <div>        
        <h5>Noticias 2</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit suscipit omnis ex praesentium nam doloremque amet dolorem ad itaque eligendi?</p>
    </div>
    <div>                
        <h5>Noticias 3</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit suscipit omnis ex praesentium nam doloremque amet dolorem ad itaque eligendi?</p>
    </div>
    <div>        
        <h5>Noticias 4</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit suscipit omnis ex praesentium nam doloremque amet dolorem ad itaque eligendi?</p>
</div>
</main>
<footer id="align">
        <a href="./novedades.html#volver" class="button"> Ir arriba</a>
</footer>

</body>
</html>