<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <title>Quiénes somos</title>


</head>
<body>
    <header>        
        <section>
            <h1 id="volver">Quiénes somos</h1>
                <nav>
                    <ul>
                        <li>
                        <a href="../index.html#Inicio">Inicio</a>
                        </li>
                        <li>
                        <a href="../views/novedades.html">Novedades</a>
                        </li>
                        <li>
                        <a href="../views/nuestrahistoria.html">Nuestra historia</a>
                        </li>
                        <li>
                        <a href="../views/servicios.html">Servicios</a>
                    </li>
                </ul>
            </nav>
        </section>
    </header>
<main>    
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae veritatis error exercitationem voluptatem reiciendis tenetur totam alias, ipsam rerum tempora nemo doloremque quidem iusto temporibus culpa quasi animi obcaecati inventore! Sequi perferendis laudantium harum magni consequatur dolorum aliquid non illo doloremque. Incidunt molestiae placeat deleniti dolores voluptates nemo asperiores dolor, aperiam soluta! Voluptate sequi, obcaecati exercitationem id soluta corporis quasi error provident repellat nihil, repudiandae doloremque sit maxime, sint eum quo quos veritatis culpa adipisci pariatur in dignissimos! Deserunt explicabo consequatur pariatur recusandae, nobis quisquam quas veritatis maiores, quam tenetur distinctio delectus praesentium ut. Atque aperiam magnam perferendis ipsam accusantium?</p>
            <h2 id="hh-3">Nuestra metodología </h2>
                <img src="../assets/img/img15.PNG" alt="pedagogias modernas" id="imgconf">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam pariatur sit unde recusandae! Voluptates odio placeat nisi? Reiciendis natus blanditiis sequi eos dicta et assumenda nam omnis non vero eius ratione odio, quis dolorum quidem alias aliquam quasi quam, modi mollitia voluptatum. Facere voluptate illo quas sunt vitae adipisci laborum ut nulla distinctio commodi! Impedit, laudantium nulla? Fugiat adipisci ab nisi, quod quaerat fuga quis hic excepturi repellat nostrum quia delectus consequatur obcaecati, molestias rerum, et aut? Natus quia, doloremque nemo neque deserunt eligendi cupiditate quos accusantium repellat at corporis perferendis quaerat quisquam mollitia voluptatum consequatur dolore eius voluptate culpa?</p>
                        <h3 id="clr2">Nuestos Avales</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque corporis, maxime fugit harum aliquam voluptatem incidunt dignissimos autem voluptates vitae repellat nesciunt beatae, vero amet praesentium. Nisi, dicta eligendi qui error, at iure id optio quidem amet magni magnam earum officiis debitis libero, delectus obcaecati sed nulla deleniti nemo non?</p>
                                <img src="../assets/img/img16 banner.PNG" alt="logos avales academicos" class="imgconf2">
</main>
<footer>       
    <p>
        <br>
            <a href="#volver" class="button">Ir arriba</a>
    <p>
</footer>
    

</body>
</html>