<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <title>Servicios</title>


</head>
<body class="paralleffect4">
    <header>        
        <section>
            <h1 id="volver a página principal">Servicios</h1>
                <nav>
                    <ul>
                        <li>
                        <a href="../index.html#Inicio">Inicio</a>
                        </li>
                        <li>
                        <a href="../views/novedades.html">Novedades</a>
                        </li>
                        <li>
                        <a href="../views/quienessomos.html">Quiénes somos</a>
                        </li>
                        <li>
                        <a href="../views/servicios.html">Nuestra historia</a>
                    </li>
                </ul>
            </nav>
        </section>
    </header>
<main>    
    <h2>Traducciones</h2>
        <img src="../assets/img/img3.jpg"> 
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium cum, quia nostrum voluptates voluptas blanditiis autem voluptatum perferendis id, aut soluta? Molestiae dolore illo optio culpa odio quibusdam, ea ducimus.</p>
                <h3> Preparación de exámenes</h3>
                    <img src="../assets/img/img5.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, voluptatum? Recusandae animi suscipit asperiores doloremque corrupti. Voluptates, ipsa libero beatae eligendi officia aliquid sit eos laudantium veritatis rem, necessitatibus ab!</p>
                            <h4>Cursos</h4>
                                <img src="../assets/img/img1.jpg" alt="" class="img1">
                                <img src="../assets/img/img2.jpg" alt="" class="img2">
                                <img src="../assets/img/img4.jpg" alt="" class="img4">
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur veritatis optio asperiores aliquam nam aspernatur eius numquam, aperiam non deleniti tempore dignissimos quidem obcaecati laudantium distinctio iste libero rerum vero?</p>
</main>
<footer>                                        
    <a href="./servicios.html#volver a página principal" class="button">Ir arriba</a>
</footer>

</body>
</html>